* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

section {
  margin-top: 130px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
  font-size: 36px;
    font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #458427;
  color: #FFFFFF;
  background-color: #72b065;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #694937;
  }

  &:active {
    background-color: #694937;
    border-color: #1e0d03;
  }
}


h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

label {
  font-weight: bold; 
  margin-right: 5px; 
}

select,
input[type="date"] {
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  cursor: pointer;
  min-height: 40px;
}

input[type="checkbox"] {
  margin: 0 15px;
  cursor: pointer;
  vertical-align: middle; 
}
